{% load static %}
<footer class="pt-10 pt-lg-14 pb-11 footer bg-gray">
    <div class="container container-xl">
        <div class="row">
            <div class="col-lg col-md-4 col-12 mb-7 mb-lg-0">
                <h3 class="fs-20 mb-3">Офисы</h3>
                <p class="fs-14 lh-185 pr-xl-12">
                    {{setting.location|safe}}</a>
                </p>
            </div>
            <div class="col-lg-8 col-md-4 mb-lg-0">
                <h3 class="fs-20 mb-3">Instagrams</h3>
                <ul class="list-inline fs-18 ml-3 mb-0" style="display:flex; flex-direction:column;">
                    <li class="list-inline-item mr-4">
                        <a href="#">@malyshcity_osh</a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="#">@malyshcity_newborn</a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="#">@malyshcity_obuv</a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="#">@malyshcity_igrushki</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</footer>
